/*
!important = aplica a las propiedades y pisa todo orden jerarquico

ID= unico e irrepetible / DNI / IMEI / PATENTE DE UN AUTO
class= se pueden repetir y utilizar más de una vez

etiquetas/selectores = etiquetas semánticas del html.

*/


/*selector/id/clase {
    propiedad: valor;
}*/

/*LLAMADO AL DOC HTML*/


// Variables
$primary-color: gold;
$hover-color: rgba(255, 215, 0, 0.4);
$background-color: #f8f9fa;
$border-color: #cfc7c7d2;

@import "presets/reset";
@import "presets/header";
@import "presets/main";
@import "presets/footer";
@import "presets/queries";
@import "carrito";